.page {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: clamp(3rem, 10.4vh, 4.75rem) 1.75rem 4rem;
}

.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}
